.parent {
  display: flex;
  direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: -100px;
  background-color: 'black';
  margin: 0 auto;
}

.child {
  width: 10vw;  /* Or whatever */
  height: 10vh; /* Or whatever */
  margin: auto;  /* Magic! */
}