.parent {
  display: flex;
  height: 300px; /* Or whatever */
  direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: -100px;
  background-color: 'black';
}

.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}