.parent {
  display: flex;
  direction: row;
  justify-content: flex-start;
  position: relative;
  z-index: 10;
  top: -100px;
  margin: 0 auto;
  z-index: 10;
}

.child {
  width: 10vw;  /* Or whatever */
  height: 10vh; /* Or whatever */
  margin: auto;  /* Magic! */
  z-index: 10;
}