body {
    background-color: whitesmoke;
}

.todo-list {
    background-color: "#F5F5F5";
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding: 0px;
}

input[type=checkbox] {
    margin-right: 10px;
    font-size: 30px;
}

input[type=checkbox]:focus {
    outline: 0;
}

.food-image { 
   position: relative; 
   width: 100%;
}
